<div class="container">
  <h2>Оберіть розмір посилки</h2>

  <div class="package__container">
    <div class="package__to-xl">
      <div class="small package__to-xl-xxs">XXS</div>
      <div class="medium package__to-xl-m">M</div>
      <div class="small package__to-xl-xs">XS</div>
      <div class="medium package__to-xl-l">L</div>
      <div class="small package__to-xl-s">S</div>
      <div class="medium package__to-xl-xl">XL</div>
    </div>

    <div class="package__after-xl">
      <div class="big package__after-xl-xxl"></div>
      <div class="big package__after-xl-xxxl"></div>
    </div>
  </div>
</div>
