<div class="container">
  <h2 class="title">Оберіть розмір посилки</h2>

  <div (click)="click($event)" class="package__container">
    <div class="package__to-xl">

      <div class="package package__to-xl-xxs" id="200.0x110.0x405.0">
        <div class="package__img package__img-xxs">
          <app-xxs></app-xxs>
        </div>

        <div class="package__about package__about-xxs">
          <h3>XXS</h3>
          <p>20х11 см</p>
        </div>
      </div>

      <div class="package package__to-xl-m" id="200.0x209.0x405.0">
        <div class="package__img package__img-m">
          <app-m></app-m>
        </div>

        <div class="package__about package__about-m">
          <h3>M</h3>
          <p>20x21 см</p>
        </div>
      </div>

      <div class="package package__to-xl-xs" id="200.0x160.0x405.0">
        <div class="package__img package__img-xs">
          <app-xs></app-xs>
        </div>

        <div class="package__about package__about-xs">
          <h3>XS</h3>
          <p>20x16 см</p>
        </div>
      </div>

      <div class="package package__to-xl-l" id="380.0x160.0x405.0">
        <div class="package__img package__img-l">
          <app-l></app-l>
        </div>

        <div class="package__about package__about-l">
          <h3>L</h3>
          <p>38x16 см</p>
        </div>
      </div>

      <div class="package package__to-xl-s" id="380.0x110.0x405.0">
        <div class="package__img package__img-s">
          <app-s></app-s>
        </div>

        <div class="package__about package__about-s">
          <h3>S</h3>
          <p>38x11 см</p>
        </div>
      </div>

      <div class="package package__to-xl-xl" id="380.0x209.0x405.0">
        <div class="package__img package__img-xl">
          <app-xl></app-xl>
        </div>

        <div class="package__about package__about-xl">
          <h3>XL</h3>
          <p>38x21 см</p>
        </div>
      </div>
    </div>

    <div class="package__after-xl">
      <div class="package package__after-xl-xxl" id="645.0x210.0x405.0">
        <div class="package__img package__img-xxl">
          <app-xxl></app-xxl>
        </div>

        <div class="package__about package__about-xxl">
          <h3>XXL</h3>
          <p>64x21 см</p>
        </div>
      </div>

      <div class="package package__after-xl-xxxl" id="645.0x365.0x405.0">
        <div class="package__img package__img-xxxl">
          <app-xxxl></app-xxxl>
        </div>

        <div class="package__about package__about-xxxl">
          <h3>XXXL</h3>
          <p>64x36 см</p>
        </div>
      </div>
    </div>
  </div>

  <div class="btn__container">
    <button (click)="back()" class="btn btn__back">НАЗАД</button>
    <button (click)="submit()" class="btn btn__submit" disabled id="submit">ПІДТВЕРДИТИ</button>
  </div>
</div>


