<header class="header">
  <div class="header__container">
    <div class="header__logo"></div>
    <div class="header__nav">
      <div class="header__nav-container">
        <div class="header__nav-instruction">ІНСТРУКЦІЯ</div>
        <div class="header__nav-details">
          <ol>
            <li>Оберіть "Надіслати посилку через поштомат"</li>
            <li>Перевірте чи надійно упаковане відправлення</li>
            <li>Оберіть вільну ячейку, за Вашим розміром</li>
            <li>Надисніть "Підтвердити"</li>
          </ol>
        </div>
      </div>
      <div class="header__nav-post-id">Поштомат №{{getDevice()}}</div>
    </div>
  </div>

  <div class="rectangle__container">
    <div class="rectangle rectangle__first"></div>
    <div class="rectangle"></div>
    <div class="rectangle"></div>
    <div class="rectangle"></div>
  </div>
</header>


<router-outlet></router-outlet>

